---
import Layout from '../layouts/Layout.astro';
title: 'Full Lord of the Rings Map'
---


<Layout title="Welcome to Astro.">
	<main>
    <h1>Full Lord of the Rings Map</h1>
    <p>This page will contain the full map of Lord of the Rings.</p>
    <a href="/">Back to Home</a>
	</main>
</Layout>