---
// src/components/Header.astro
---

<header class="flex flex-row items-center justify-between p-4 text-white bg-slate-900">
  <div class="flex flex-col md:flex-row">
    <a href="/">
      <h1 class="grid text-xl font-medium place-items-center md:pr-3">Faux Metro</h1>
    </a>
    <!-- <p class="grid text-xs text-gray-300 place-items-center">Transit maps to ease the journey around fantastical destinations</p> -->
  </div>

  <div class="relative">
    <button 
      class="flex items-center px-5 py-2 text-sm text-white bg-gray-700 rounded-md focus:outline-none" 
      id="dropdownButton"
    >
      Select a Metro
      <svg 
        class="w-4 h-4 ml-2 transition-transform duration-200" 
        id="caretIcon"
        xmlns="http://www.w3.org/2000/svg" 
        fill="none" 
        viewBox="0 0 24 24" 
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <div class="absolute right-0 z-50 hidden w-48 mt-2 text-gray-800 bg-white rounded-md shadow-lg" id="dropdownMenu">
      <a href="/4th-overview" class="block px-4 py-2 hover:bg-gray-100">Fourth Wing</a>
      <a href="/got-overview" class="block px-4 py-2 hover:bg-gray-100">Game of Thrones</a>
      <a href="/lotr-overview" class="block px-4 py-2 hover:bg-gray-100">Lord of the Rings</a>
      <a href="/oz-overview" class="block px-4 py-2 hover:bg-gray-100">Wizard of Oz</a>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');
    const caretIcon = document.getElementById('caretIcon');

    if (dropdownButton && dropdownMenu && caretIcon) {
      dropdownButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
        caretIcon.classList.toggle('rotate-180');
      });

      document.addEventListener('click', (event) => {
        const target = event.target as Node | null;

        if (target && !dropdownButton.contains(target) && !dropdownMenu.contains(target)) {
          dropdownMenu.classList.add('hidden');
          caretIcon.classList.remove('rotate-180');
        }
      });
    }
  });
</script>

