---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>    
<section>
      <img 
        src={frontmatter.mapUrl} 
        alt={frontmatter.mapAlt}  
        class="w-full h-auto"
      >
  </div>
</section>
</Layout>

